.nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
}

.background {
  /* background-color: white; */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.size-a4 {
  width: 210mm;
  /* height: 297mm; */
  overflow: hidden;
  padding: 20px 20px 23px 20px;
  box-sizing: border-box;
  background-image: url('/paper-back.jpg');
  background-size: 400px;
}

.page-detail {
  font-size: 20px;
}

.wrapper-inner-page {
  border: 1px solid rgb(192, 192, 192);
  background-image: url('/paper-front.jpg');
  background-size: 400px;
  height: 100%;
}

.section {
  border-bottom: 1px solid rgb(192, 192, 192);
}

.section:last-child {
  border-bottom: none;
}

.section-wrapper {
  display: flex;
}

.section-left {
  flex-grow: 1;
  border-right: 1px solid rgb(192, 192, 192);
  width: 515px;
}

.section-right {
  width: 196px;
}

.section-inner {
  padding: 20px;
}

.section-top {
  border-top: 1px solid rgb(192, 192, 192);
}

@media print {
  @page {
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
