.nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
}

.background {
  /* background-color: white; */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.size-a4 {
  width: 210mm;
  height: 2000mm; /* 297mm * 3 */
  box-shadow: 1px 1px 10px black;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('/paper-back.jpg');
  background-size: 400px;
}

.wrapper-inner-page {
  border: 1px solid rgb(192, 192, 192);

  /* background-image: url('/paper-lighter.jpg'); */
  background-image: url('/paper-front.jpg');
  background-size: 400px;
}

.section {
  padding: 20px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.section:last-child {
  border-bottom: none;
}

.section-wrapper {
  display: flex;
}

.section-left {
  padding: 20px;
  flex-grow: 1;
  border-right: 1px solid rgb(192, 192, 192);
}

.section-right {
  padding: 20px;
  width: 158px;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    /* margin: 1.6cm; */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
