.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
}

.background {
  /* background-color: white; */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.size-a4 {
  width: 210mm;
  height: 2000mm; /* 297mm * 3 */

  box-shadow: 1px 1px 10px black;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    /* margin: 1.6cm; */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
