.ruler-text {
  text-align: center;
  margin: 0;
  font-size: 35px;
  line-height: 26px;
  margin-bottom: 8px;
}

.ruler {
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  height: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.sub {
  font-size: 15px;
  text-align: center;
  margin-top: -5px;
}

.icon-work {
  width: 28px;
  margin-right: 5px;
  margin-bottom: 7px;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
