.position {
  background-color: white;
  padding: 20px;
}

.wrapper-logo {
  border-radius: 200px;
  border: 3px solid blue;
  background-color: white;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.logo {
  box-sizing: border-box;
  background-color: white;
  display: block;
  width: 100px;
  height: 100px;
}

.nested {
  list-style: none;
}

.skill {
  display: flex;
}

.skill-img {
  width: 30px;
}

.skill-icon {
  border: 4px solid;
  border-radius: 30px;
  padding: 5px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.bar {
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}

.timeline-item {
  display: flex;
  align-items: center;
}

.end-date {
  width: 100px;
}

.timeline-h-item {
  background-color: red;
  /* margin-right: 3px; */
}

.timeline-h-item {
  background-color: white;
  overflow: visible;
  height: 10px;
}

.timeline-h-item:last-child .bar-h {
  border-right: none;
}
.wrapper-timeline-h {
  display: flex;
  /* margin-right: 3px; */
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
  /* overflow: visible; */
}

.company-name {
  margin-top: 30px;
}

.logo-h {
  width: 30px;
  /* position: absolute; */
  /* top: 50px; */
}

.label {
  border-left: 1px solid;
  padding-top: 10px;
  overflow: visible;
  display: none;
}

.timeline-h-item:nth-child(odd) .label {
  margin-top: -70px;
  padding-top: 0;
  padding-bottom: 10px;
}
/* 
.label:nth-child(odd) {
} */

.bar-h {
  width: 100%;
  height: 10px;
  /* height: 70px; */
  margin-right: 3px;
  border-right: 3px solid white;
  /* height: 70px; */
  /* margin-right: 3px; */
  box-sizing: border-box;
}

.wrapper-countries {
  margin-top: 10px;
  margin-bottom: 400px;
  display: flex;
}

.germany .line {
  border-color: red;
}

.brazil .line {
  border-color: gold;
}

.line {
  border-bottom: 2px solid;
  margin-right: 3px;
}

.country:last-child .line {
  /* height: 10px; */
  /* padding-right: 3px; */
  margin-right: 0;
}
