.experience-logo {
  background-color: white;
  // max-width: 200px;
  // padding: 20px;
  // border: 1px solid;
  // border-radius: 0 400px 400px 0;
  // max-height: 103px;
  // height: 100%;
  // display: block;

  // img {
  //   // max-height: 103px;
  //   // max-width: 200px;
  //   // width: 100%;
  // }
}

.wrapper-content {
  box-sizing: border-box;
  width: 100%;
}

.bar-exp {
  width: 24px;
  background: black;
  margin-right: 10px;
  border: 1px solid;
}

.wrapper-experience {
  display: flex;
  margin-top: 5px;

  // &.wrapper-exp-first {
  //   margin-top: 0;
  // }

  &.wrapper-exp-first {
    .bar-exp {
      border-radius: 10px 10px 0 0;
    }
  }

  &.wrapper-exp-last {
    .bar-exp {
      border-radius: 0 0 10px 10px;
    }
  }
}

.wrapper-experience-logo {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid;
  padding: 20px;
  border-radius: 0 120px 120px 120px;
  box-sizing: border-box;
  margin-right: 10px;
}

.wrapper-company-info {
  width: 100%;
  justify-content: space-between;
}

.wrapper-position {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-details {
  display: flex;
}

.description {
  width: 100%;
}

.results {
  margin-left: 20px !important;
  max-width: 137px;
}

.wrapper-experience-inner {
  display: flex;
  align-items: center;
}

.location {
  text-wrap: nowrap;
  margin-left: 20px;
  display: flex;
  align-items: center;

  .icon {
    width: 15px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .icon-text {
    margin-right: 3px;
  }

  .flag {
    margin-right: 0;

    .icon {
      width: 20px;
      border: 1px solid;
      border-radius: 3px;
      margin-right: 4px;
    }
  }
}

.logo-large {
  border-radius: 5px;
}

.my-design {
  width: 160px;
  border: 1px solid;
  border-radius: 5px;
}

.divider {
  margin-top: 0;
  border-top: 1px solid rgb(192, 192, 192);
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-title {
  font-size: 18px;
}

// .list-content.child {
//   margin-bottom: 10px;
// }

// .stack {
//   margin-top: 10px;
// }

.stack-inner {
  display: flex;

  .icon-text {
    // margin-right: 10px;
  }
}

// .stack-title {
//   text-wrap: nowrap;
//   margin-right: 10px;
// }

.b2ml {
  .results {
    max-width: 200px;
  }
}

.string:has(+ .parent) {
  margin-bottom: 3px;
}

.child .string {
  margin-bottom: 3px;
}

.wrapper-stack {
  display: flex;
}

.list-content.list-stack {
  width: 138px;
  margin-left: 20px;
}

.company-name {
  font-size: 18px;
}

.list-stack-inner.list-content {
  // background-color: yellow;

  li {
    margin-bottom: 3px;
  }
}

.header-company {
  width: 100%;
}

.wrapper-inner-position {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.wrapper-positions {
  margin: 20px 0;
}

.wrapper-experience.btg {
  // height: 360px;
}

// .wrapper-experience.fbiz {
//   height: 664px;
// }
